<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap uap3 rescap desktop">

  <Identity
    Name="StickyTerm"
    Publisher="CN=StickyTerm"
    Version="1.0.0.0"
    ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>StickyTerm</DisplayName>
    <PublisherDisplayName>StickyTerm</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>Serial terminal with sticky COM port assignments. Track USB serial devices and ensure they always get the same COM port number.</Description>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="StickyTerm.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="StickyTerm"
        Description="Serial terminal with sticky COM port assignments"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" Square310x310Logo="Images\Square310x310Logo.png" Square71x71Logo="Images\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.startupTask" Executable="StickyTerm.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="StickyTermStartup" Enabled="false" DisplayName="StickyTerm"/>
        </desktop:Extension>
        <!-- AppExecutionAlias enables self-elevation via Process.Start with runas verb -->
        <uap3:Extension Category="windows.appExecutionAlias" Executable="StickyTerm.exe" EntryPoint="Windows.FullTrustApplication">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="StickyTerm.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <!-- allowElevation enables the app to request UAC elevation dynamically -->
    <rescap:Capability Name="allowElevation" />
  </Capabilities>

</Package>
